@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::selection {
  @apply bg-rose-500 text-white ;
} */

/* hsl(8, 82%, 44%) */
@layer base {
  :root {
    /* --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    
    --primary: 8, 82%, 44%, 1;

    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem; */

    --themeColor: #cc2c14;
    --primaryBackgroundColor: #f3f5f6;
    --secondaryBackgroundColor: #dbdbdb;
    --tertiaryBackgroundColor: #eaeaea;
    --textPrimaryColor: #0c0a09;
    --textSecondaryColor: #151515;

    --primaryBackgroundColorDark: #0c0a09;
    --textSecondaryColorLight: #151515;
    --tertiaryBackgroundColorLight: #eaeaea;

    --themeColor-20: "rgba(var(--themeColor), 0.2)";
  }

  .dark {
    --themeColor-20: "rgba(var(--themeColor), 0.2)";
    --themeColor: #cc2c14;
    --primaryBackgroundColor: #0c0a09;
    --secondaryBackgroundColor: #242424;
    --tertiaryBackgroundColor: #151515;
    --textPrimaryColor: #f3f5f6;
    --textSecondaryColor: #dbdbdb;

    /* --background: 0, 0%, 0%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    
    --primary: 8, 82%, 44%;

    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%; */
  }
}

[data-theme="dark"] [data-hide-on-theme="dark"],
[data-theme="light"] [data-hide-on-theme="light"] {
  display: none;
}

.s {
  color: red;
  /* background-color: red; */
  fill: green;
  height: 100px;
  width: 100px;
  stroke: peru;
}

.myElement {
  color: red;
  filter: invert(1);
}

.clamp-48px {
  font-size: clamp(1rem, 4.739vw, 10rem);
}
.clamp-width-48px {
  width: clamp(1rem, 1vw, 10rem);
}
.clamp-height-48px {
  height: clamp(1rem, 1vw, 10rem);
}
.clamp-hero2-main-heading {
  font-size: clamp(2rem, 4.583vw, 10rem);
}
.clamp-service-main-heading {
  font-size: clamp(1.5rem, 2.083vw, 10rem);
}

.clamp-service-section-main-heading {
  font-size: clamp(3rem, 4.583vw, 10rem);
}

.clamp-package-section-description {
  font-size: clamp(0.8rem, 1.667vw, 7rem);
}

.clamp-bigCTA {
  font-size: clamp(1rem, 4.583vw, 15rem);
}

.clamp-bigCTA-width {
  width: clamp(3.555rem, 7.813vw, 15rem);
}

.clamp-footer-logo {
  width: clamp(8.555rem, 20.813vw, 30rem);
}

.clamp-footer-icons {
  width: clamp(1.555rem, 5.813vw, 15rem);
  width: clamp(1.555rem, 3.813vw, 10rem);
}

.clamp-packages-page-mainHeading {
  font-size: clamp(1rem, 3.333vw, 10rem);
}
.clamp-services-page-mainHeading {
  font-size: clamp(1rem, 4.583vw, 10rem);
}

.clamp-dot {
  width: clamp(0.3rem, 1.25vw, 5rem);
  height: clamp(0.3rem, 1.25vw, 5rem);
}
.clamp-arrow {
  width: clamp(0.75rem, 2.1875vw, 5rem);
}

.custom-color {
  color: red;
}

.clamp-3rem {
  font-size: clamp(1rem, 2vw, 10rem);
}

.clamp-900px {
  width: clamp(20rem, 46.875vw, 70rem);
  height: clamp(20rem, 46.875vw, 70rem);
}
@layer components {
  .gradient-background {
    background: linear-gradient(
      71deg,
      rgba(255, 97, 33, 0.7) 10.66%,
      rgba(204, 43, 20, 0.7) 26.32%,
      rgba(21, 21, 21, 0.7) 81.63%
    );

    backdrop-filter: blur(6px);
  }
}

.service-hero-light-gradient {
  background: linear-gradient(
    71deg,
    #eb5d48 10.66%,
    #cc2b14 26.32%,
    #eaeaea 81.63%
  );
}

.service-hero-dark-gradient {
  background: var(
    --BitProwler2-dark,
    linear-gradient(71deg, #eb5d48 10.66%, #cc2b14 26.32%, #151515 81.63%)
  );
}

.gradient-background-lightMode {
  background: linear-gradient(
    71deg,
    rgba(255, 97, 33, 0.7) 10.66%,
    rgba(204, 43, 20, 0.7) 26.32%,
    rgba(234, 234, 234, 0.7) 81.63%
  );
}

.blur-background {
  backdrop-filter: blur(10px);
}

.image-container {
  filter: blur(5px);
  position: relative;
}
