@tailwind base;
@tailwind components;
@tailwind utilities;
/* ::selection {
  @apply bg-rose-500 text-white ;
} */

/* hsl(8, 82%, 44%) */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    /* --primary: 346.8 77.2% 49.8%; */
    --primary: 8, 82%, 44%, 1;

    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0, 0%, 0%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    /* --primary: 346.8 77.2% 49.8%; */
    --primary: 8, 82%, 44%;

    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
  }
}

.s {
  color: red;
  /* background-color: red; */
  fill: green;
  height: 100px;
  width: 100px;
  stroke: peru;
}

.myElement {
  color: red;
  filter: invert(1);
}

.clamp-48px {
  font-size: clamp(1rem, 4.739vw, 10rem);
}
.clamp-width-48px {
  width: clamp(1rem, 1vw, 10rem);
}
.clamp-height-48px {
  height: clamp(1rem, 1vw, 10rem);
}
.clamp-hero2-main-heading {
  font-size: clamp(2rem, 4.583vw, 10rem);
}
.clamp-service-main-heading {
  font-size: clamp(1.5rem, 2.083vw, 10rem);
}

.clamp-service-section-main-heading {
  font-size: clamp(3rem, 4.583vw, 10rem);
}

.clamp-package-section-description {
  font-size: clamp(0.8rem, 1.667vw, 7rem);
}

.custom-color {
  color: red;
}

.gradient-background {
  background: linear-gradient(
    71deg,
    rgb(255, 107, 49) 10.66%,
    rgba(204, 43, 20, 1) 26.32%,
    rgba(21, 21, 21, 1) 86.63%
  );
}

.blur-background {
  backdrop-filter: blur(10px);
}

.image-container {
  filter: blur(5px);
  position: relative;
}

#myInput:focus + label {
  transform: translateY(-50%);
  transition: transform 0.5s ease-in-out;

  font-size: 0.75rem;
}

* {
  box-sizing: border-box;
}

/* basic stylings ------------------------------------------ */

.container {
  /* font-family:'Roboto'; */
  width: 600px;
  margin: 30px auto 0;
  display: block;
  padding: 10px 50px 50px;
}
h2 {
  text-align: center;
  margin-bottom: 50px;
}
h2 small {
  font-weight: normal;
  color: #888;
  display: block;
}
.footer {
  text-align: center;
}
.footer a {
  color: #53b2c8;
}

/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 45px;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  background-color: black;
  border: none;
  border-bottom: 1px solid #757575;
}
input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;

  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
